<section class="before-button">
    <div class="footer-button">
        <button type="button" data-modal-open class="location-button">Our Locations</button>
        <button type="button" data-modal-open class="franchise-button">Franchise
        </button>
    </div>
</section>

<section class="before-footer">
    <div class="cont">
        <div class="homemades">
            <span class="first-text">homemade ice cream made</span>
            <span class="second-text">with passion</span>
        </div>
        <div class="contact-tel">
            <p class="text-tel">Feel free to contact</p>
            <a class="footer-tel" href="+61(0)383766284">+61 (0) 383 766 284</a>
        </div>
    </div>
</section>