<section class="before-button">
    <div class="footer-button">
        <button type="button" data-modal-open class="location-button">
            Our Locations<svg width="5" height="10" class="vector">
                <use href="./images/before-footer/symbol-defs.svg#icon-vector"></use>
            </svg></button>
        <button type="button" data-modal-open class="franchise-button">Franchise<svg width="5" height="10"
                class="vector">
                <use href="./images/before-footer/symbol-defs.svg#icon-vector"></use>
            </svg>
        </button>
    </div>

    <!--<section class="before-footer">-->
    <div class="cont">
        <div class="homemades">
            <span class="first-text">homemade ice cream made</span>
            <span class="second-text">with passion</span>
        </div>
        <div class="social-tel">
            <div class="social-media">
                <ul class="our-icon ">
                    <li>
                        <a href="" class="komand-icon">
                            <svg class="social-icon" width="20" heigth="20">
                                <use href="./images/before-footer/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="komand-icon">
                            <svg class="social-icon" width="20" heigth="16">
                                <use href="./images/before-footer/symbol-defs.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="komand-icon">
                            <svg class="social-icon" width="10" heigth="20">
                                <use href="./images/before-footer/symbol-defs.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="contact-tel">

                <p class="text-tel">Feel free to contact</p>
                <a class="footer-tel" href="+61(0)383766284">+61 (0) 383 766 284</a>
            </div>
        </div>
    </div>
    <p class="resum">© 2022 - IceCream. All Rights Reserved.</p>
    <!--</section>-->
</section>