<section class="before-button">
    <div class="footer-button">
        <button type="button" data-modal-open class="location-button">Our Locations</button>
        <button type="button" data-modal-open class="franchise-button">Franchise
        </button>
    </div>
    <!--<div class="social-media">
        <ul class="our-icon ">
            <li>
                <a href="" class="komand-icon">
                    <svg class="social-icon" width="20" heigth="20">
                        <use href="../images/before-footer/facebook.svg"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="" class="komand-icon">
                <svg class="social-icon" width="20" heigth="20">
                    <use href="../images/before-footer/telegram.svg"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="" class="komand-icon">
                <svg class="social-icon" width="20" heigth="20">
                    <use href="..//images/before-footer/github.svg"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>-->
    <section class="before-footer">
        <div class="cont">
            <div class="homemades">
                <span class="first-text">homemade ice cream made</span>
                <span class="second-text">with passion</span>
            </div>
            <div class="contact-tel">
                <p class="text-tel">Feel free to contact</p>
                <a class="footer-tel" href="+61(0)383766284">+61 (0) 383 766 284</a>
            </div>
        </div>
        <p class="resum">© 2022 - IceCream. All Rights Reserved.</p>
    </section>
</section>