<header class="header">
  <svg class="header__logo" width="60px" height="65px">
    <use href="./images/icons.svg#icon-Logo"></use>
  </svg>
  <button
    class="menu-toggle js-open-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg width="32" height="32" fill="#FFFF">
      <path
        fill="#fff"
        d="M26.733 14H5.267c-.7 0-1.267.425-1.267.95v.1c0 .525.567.95 1.267.95h21.466c.7 0 1.267-.425 1.267-.95v-.1c0-.525-.567-.95-1.267-.95ZM26.733 20H5.267c-.7 0-1.267.425-1.267.95v.1c0 .525.567.95 1.267.95h21.466c.7 0 1.267-.425 1.267-.95v-.1c0-.525-.567-.95-1.267-.95ZM26.733 8H5.267C4.567 8 4 8.425 4 8.95v.1c0 .525.567.95 1.267.95h21.466c.7 0 1.267-.425 1.267-.95v-.1c0-.525-.567-.95-1.267-.95Z"
      />
    </svg>
  </button>
  <div class="header__nav">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="./">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./">Our products</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="./">Contact</a></li>
      </ul>
    </nav>
  </div>
  <button type="button" class="header__button">
    Buy now
    <svg class="button__svg" width="6px" height="10px">
      <use href="./images/icons.svg#icon-buttonsvg"></use>
    </svg>
  </button>
</header>
