<section class="hero">
  <div class="hero__container">
        <div class="hero_title__container">
      <h1 class="hero-title">
        ice cream made with <span class="hero-title__big">passion</span>
      </h1>
      <ul class="hero-button__list">
        <li class="hero-button__item">
          <button class="products-button" type="button ">Products</button>
        </li>
        <li class="hero-button__item">
          <button class="hero-secondary-button" type="button ">
            How it’s made?
          </button>
        </li>
      </ul>
    </div>
    <div class="ribbon">
       <picture>
        <source
          srcset="/src/images/hero/ribbon_desktop@1x.png 1x,
        /src/images/hero/ribbon_desktop@2x.png 2x"
          media="(min-width:1200px)"
        />

        <source
          srcset="/src/images/hero/ribbon_tablet@1x.png 1x,
        /src/images/hero/ribbon_tablet@2x.png 2x"
          media="(min-width:768px)"
        />

        <source
          srcset="/src/images/hero/ribbon_mobile@1x.png 1x,
        /src/images/hero/ribbon_mobile@2x.png 2x"
          media="(max-width:480px)"
        />

        <img
          class=""
          src="/src/images/hero/ribbon_desktop@1x.png"
          alt="ice-cream"
        />
      </picture>
    </div>
    <div class="hero__img">
      <picture>
        <source
          srcset="/src/images/hero/hero_icecream_desktop@1x.png 1x,
        /src/images/hero/hero_icecream_desktop@2x.png 2x"
          media="(min-width:1200px)"
        />

        <source
          srcset="/src/images/hero/hero_icecream_tablet@1x.png 1x,
        /src/images/hero/hero_icecream_tablet@2x.png 2x"
          media="(min-width:768px)"
        />

        <source
          srcset="/src/images/hero/hero_icecream_mobile@1x.png 1x,
        /src/images/hero/hero_icecream_mobile@2x.png 2x"
          media="(max-width:480px)"
        />

        <img
          class="ice-cream__img"
          src="/src/images/hero/hero_icecream_desktop@1x.png"
          alt="ice-cream"
        />
      </picture>
    </div>

    <div class="icecream-many">
         <picture>
        <source
          srcset="/src/images/hero/many_icecream_desktop@1x.png 1x,
        /src/images/hero/many_icecream_desktop@2x.png 2x"
          media="(min-width:1200px)"
        />

        <source
          srcset="/src/images/hero/many_icecream_tablet@1x.png 1x,
        /src/images/hero/many_icecream_tablet@2x.png 2x"
          media="(min-width:768px)"
        />

        <img src="/src/images/hero/many_icecream_desktop@1x.png"
          alt="many-icecream"
        />

        </picture>
      </div>

      <div class="icecream__meta">
        <p class="icecream-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="icecream-card__btn">
          <svg class="icecream__icon" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow-long"></use>
          </svg>
        </button>
      </div>
      
      <ul class="data__list">
        <li class="data-first__item">
          <p class="data-item__number">16</p>
          <p class="data-item__text">cafes</p>
        </li>

        <li class="data-second__item">
          <p class="data-item__number">23</p>
          <p class="data-item__text">food trucks</p>
        </li>
      </ul>
    
  </div>
</section>
