<!-- МОДАЛЬНЕ ВІКНО  з відеороліком-->
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
            <button type="button" class="modal__button-close" data-modal-close>
                <svg class="modal__svg" width="20" height="20">
                    <use href="./img/symbol-defs.svg#icon-close"></use>
                </svg>
            </button>
                    <h2 class="modal__title">How it`s made ?</h2>
             <ul class="modal__list">
                <li class="modal__item">
                    <iframe class="modal__video" width="560" height="315" 
                        src="https://www.youtube.com/embed/zagD0LQdsDE" 
                        title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </li>
                <li class="modal__item">
                    <p class="modal__text">Морозиво — це продукт, який одержують заморожуванням і збиванням суміші натурального молока, вершків, згущеного або
                    сухого незбираного та знежиреного молока, різних смакових і ароматичних речовин та стабілізатора. Добрі смакові якості
                    мо¬розива доповнюються його високою поживною цінністю. Складові частини морозива в процесі виробництва практич¬но не
                    змінюються, тому воно засвоюється на (95...98)%. Морози¬во на молочній основі, містять молочний жир — до 15%, білки
                    (З-6)%, цукри від 14 до 32%, мінеральні речовини, вітаміни А, групи В, Д, К. Плодово-ягідне морозиво і морозиво з
                    плодово-ягідними наповнювачами багате на вітамін С.</p>
                </li>
             </ul>     
    </div>
</div>
<script src="./js/modal.js"></script>