.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(132, 161, 120, 0.8);
    opacity: 1;
    transition: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    
}

.button-close {
    display: inline-block;
    position: absolute;
    right: 12px;
    top: 12px;

    width: 20px;
    height: 20px;
    border: none;
    background: $light-text-color;
    cursor: pointer;

    @media screen and (min-width: $tablet) {
        width: 24px;
        height: 24px;

    }

    &__icon {
        fill: $dark-text-color;
        width: 20px;
        height: 20px;

        @media screen and (min-width: $tablet) {
            width: 24px;
            height: 24px;

        }
    }


}

.franchise-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto; 
    

    background: $light-text-color;
    border: 2px solid $accent-color;
    border-radius: 10px;
    padding: 28px;

    z-index: 1;

    @media screen and (min-width: $mobile) {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $light-text-color;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    
    width: 280px;
    height: 674px;
    // height: auto;
    overflow-y: auto;
    }

    @media screen and (min-width: $tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $light-text-color;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    
    width: 568px;
    // height: auto;
    height: 668px;
    
    padding: 32px 60px;
    
    }

    &__title {
            font-family: $title-font;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0;
            margin-bottom: 20px;
    
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
    
            color: $dark-text-color;
    
            @media screen and (min-width: $tablet) {
                
                width: 322px;
                height: 84px;
                margin-left: auto;
                margin-right: auto;
                font-size: 20px;
                line-height: 1.4;
                margin-bottom: 24px;
            }
        }

    &__text {
    
            font-size: 14px;
            line-height: 1.42;
            margin-bottom: 24px;
            letter-spacing: 0;
    
            color: $dark-text-color;

            @media screen and (min-width: $tablet) {
                
                font-size: 16px;
                line-height: 1.38;
                margin-bottom: 32px;  
            }
        }
}

.form-subscribe {
    

    @media screen and (min-width: $tablet) {
    width: 100%;
    font-size: 14px;
    line-height: 1.21;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    letter-spacing: 0;
    
    }

    &__label {
        
    }

    &__input {
        width: 100%;
        height: 32px;
        padding: 11px 16px;
        margin-bottom: 12px;
        
        font-size: 12px;
        line-height: 1.4;
        color: $dark-text-color;

        background: rgba(248, 210, 78, 0.1);
        border: 1px solid #84A178;
        border-radius: 10px;
        outline: none;
        letter-spacing: 0;

        @media screen and (min-width: $tablet) {
            
        width: 368px;
        height: 42px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
        font-size: 14px;    
        }
    }

    &__textarea {
    display: flex;
    width: 100%;
    height: 64px;
    resize: none;
    padding: 8px 12px;
    
    font-size: 12px;
    line-height: 1.4;
    color: $dark-text-color;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    outline: none;
    letter-spacing: 0;

    margin-bottom: 24px;

    @media screen and (min-width: $tablet) {
        width: 368px;
        height: 84px;
        margin-bottom: 32px;
        font-size: 14px;
        
    }

    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 114px;
        height: 42px;
        padding: 12px 34px;
        border: 0;
        letter-spacing: 0;
        border-radius: 10px;

        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        color: $dark-text-color;
        background: $accent-color;
        

        margin-left: auto;
        margin-right: auto;
        cursor: pointer;

        @media screen and (min-width: $tablet) {
            width: 121px;
            font-size: 14px;
            line-height: 1.21;
        }
    }
 
}