.hero {
    
    margin: 0 auto;
    background-color: $primary-bg-color;
    
    
   
}



.hero__container {

    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

    @media screen and (min-width: 320px) {
            width: 320px;
        }

    
    @media screen and (min-width: $tablet) {
                padding: 0 32px;
                width: $tablet;
            }
        
    @media screen and (min-width: $desktop) {
                padding: 0 16px;
                width: $desktop;
            }

    
    position: relative;
    padding-top: 50px;
    padding-bottom: 236px;

    background-image: url('/src/images/hero/ribbon_mobile@1x.png');
    background-size: 320px 50px;
    background-repeat: no-repeat;
    background-position: bottom 0px left 50%;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {

    & {
            background-image: url('/src/images/hero/ribbon_mobile@2x.png');
            }
    }
        @media screen and (min-width: $tablet) {
            padding-top: 14px;
            padding-bottom: 24px;
            background-image: url('/src/images/hero/ribbon_tablet@1x.png');
            background-size: 768px 68px;
    
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                & {
                    background-image: url('/src/images/hero/ribbon_tablet@2x.png');
                }
            }
        }

        @media screen and (min-width: $desktop) {
            padding-top: 45px;
            padding-bottom: 103px;
            background-image: url('/src/images/hero/ribbon_desktop@1x.png');
            background-size: 1200px 384px;
        
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
             & {
                background-image: url('/src/images/hero/ribbon_desktop@2x.png');
                }
            }
        }
}

.hero__box {

    display: flex;
    justify-content: space-between;


    @media screen and (min-width:$tablet) {
        margin-bottom: 39px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 109px;
    }

}

.hero__title {

    font-family: $title-font;
    font-weight: 400;
    font-size: 26px;
    line-height: calc(33 / 26);
    text-transform: uppercase;
    max-width: 247px;
    margin-bottom: 32px;
    color: $light-text-color;

    @media screen and (min-width: $tablet) {
        margin-bottom: 24px;
    }
    
    @media screen and (min-width: $desktop) {
        font-size: 38px;
        line-height: calc(48 / 38);
        max-width: 367px;
        margin-bottom: 28px;
    }

}

.hero-button__list {
    display: flex;
    align-items: center;
    gap: 12px;
    
    @media screen and (min-width: $desktop) {
    gap: 34px;
    }
}

.hero-secondary-button {
    cursor: pointer;
}

.data__list {
    margin-top: 14px;
    
        @media screen and (max-width: $tablet) {
            display: none;
        }
    
        @media screen and (min-width: $desktop) {
            margin-top: 8px;
        }
    }
    
.data__item:not(:last-child) {
        margin-bottom: 20px;
    
        @media screen and (min-width: $desktop) {
            margin-bottom: 16px;
        }
}

.data__item-numbers {

    margin-bottom: 4px;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-align: right;
    text-transform: uppercase;
    color: $dark-text-color;
    
    @media screen and (min-width: $desktop) {
        font-size: 46px;
        line-height: 56px;
    }

}

.data__item-name {

    font-family: $main-font;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    color: $light-text-color;
    
    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 17px;
        }
}

.hero-text {
    max-width: 139px;
    margin-left: 184px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(17 / 12);
    color: $light-text-color;

    @media screen and (max-width: 767.98px) {
        display: none;
    }

    @media screen and (min-width: $desktop) {
        max-width: 201px;
        margin-left: 241px;
        font-size: 14px;
        line-height: 20px;
    }
}

.hero-text-arrow {
    display: block;
    margin-top: 12px;
    fill: $light-text-color;

    @media screen and (min-width: $desktop) {
        margin-top: 24px;
    }
}

.many-icecream {

    display: none;
    position: absolute;
    
        @media screen and (min-width: $tablet) {
    
            display: block;
            left: 32px;
            bottom: 12px;
        }
    
        @media screen and (min-width: $desktop) {
            display: block;
            left: 16px;
            bottom: 65px;
        }


}

.ice-cream__img {

    position: absolute;
    bottom: 0;
    left: 83px;

    @media screen and (min-width: $tablet) {
    left: 408px;
}

@media screen and (min-width: $desktop) {
    left: 652px;
}
}






























