.hero {
    @extend %section;
    background-color: $primary-bg-color;
    position: relative;
    max-width: 480px;
    height: 454px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $tablet) {
        min-width: $tablet;
        height: 349px;
        }
    @media screen and (min-width: $desktop) {
        min-width: $desktop;
        height: 591px;
        }
    

}

.hero__container {
    @extend %container;
    
}

.hero__img {

    position: absolute;
    max-width: 177px;
    height: 217px;
    left: 83px;
    top: 236px;

    @media screen and (min-width: $tablet) {
    min-width: $tablet;
    position: absolute;
    max-width: 268px;
    max-height: 329px;
    left: 408px;
    top: 20px;
    }
    @media screen and (min-width: $desktop) {
    position: absolute;
    max-width: 456px;
    max-height: 560px;
    left: 652px;
    top: 31px;
        }

}

.ice-cream__img {}

.ribbon {

    position: absolute;
    max-width: 320px;
    height: 50px;
    left: 0px;
    top: 403px;

    @media screen and (min-width: $tablet) {
        max-width: $tablet;
       
        height: 67.79px;
        left: 0px;
        top: 279.95px;
    }
        @media screen and (min-width: $desktop) {
        position: absolute;
        max-width: 1200px;
        height: 383.46px;
        left: 0px;
        top: 206.49px;
        }

}

.hero_title__container {
    position: absolute;
    
    left: 20px;
    top: 50px;

    @media screen and (min-width: $tablet) {
        left: 32px;
        top: 14px;
    }

        @media screen and (min-width: $desktop){
            
        left: 16px;
        top: 45px;
        }
    
}

.hero-title {
  
    margin-bottom: 32px;

    font-family: $title-font;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.26;
    text-transform: uppercase;

    width: 247px;
    height: 97px;

    color: $light-text-color;

  &__big {
    font-size: 34px;
@media screen and (min-width: $desktop) {
    font-size: 38px;
            
        }

}
@media screen and (min-width: $tablet) {
    margin-bottom: 24px;
}

 @media screen and (min-width: $desktop) {
    width: 367px;
    height: 144px;
    font-size: 38px;
    letter-spacing: 0.04em;
 }
    
}

.hero-button__list {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 19px;
}

.hero-button__item {}

.products-button {}

.hero-secondary-button {}

.icecream-many {

    @media screen and (max-width: $mobile) {
        display: none;
        }

    @media screen and (min-width: $tablet) {

      max-width: 152px;
      max-height: 152px;
      position: absolute;
      top: 185px;
      left: 32px;
    }

    @media screen and (min-width: $desktop) {
        position: absolute;
        max-width: 225px;
        max-height: 225px;
        left: 16px;
        top: 301px;
        }


}

.icecream__meta {

    @media screen and (max-width: $mobile) {
            display: none;
        }

    @media screen and (min-width: $tablet) {
          min-width: 480px;
        }

}

.icecream-card__text {

    position: absolute;
    width: 139px;
    height: 85px;
    left: 216px;
    top: 212px;

    font-family:$main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    color: $light-text-color;

    @media screen and (min-width: $desktop){
        font-size: 14px;
        line-height: 1.2;
        position: absolute;
        width: 200px;
        height: 80px;
        left: 257px;
        top: 368px;
    }
    

}

.icecream-card__btn {

    background-color: transparent;
    border: none;
    position: absolute;
    width: 40px;
    height: 16px;
    left: 216px;
    top: 309px;
    cursor: pointer;

    @media screen and (min-width: $desktop){
        position: absolute;
        width: 40px;
        height: 16px;
        left: 257px;
        top: 472px;
    }
}

.icecream__icon {
    
    fill: $light-text-color;
}

.data__list {

    position: absolute;
    left: 704px;
    top: 28px;

    @media screen and (max-width: $mobile) {
        display: none;

        }

    @media screen and (min-width: $desktop) {
        padding-bottom: 16px;
        width: 52px;
        height: 77px;
        left: 1132px;
        top: 53px;
        }
    
}

.data-first__item {}

.data-item__number {

    padding-bottom: 4px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 1.2;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $dark-text-color;

    @media screen and (min-width: $desktop){
        
        font-size: 46px;
        line-height: 1.2;
    }
}

.data-item__text {

   
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1;
    text-align: right;
    color: $light-text-color;

    @media screen and (min-width: $desktop) {
        padding-bottom: 16px;
        font-size: 10px;
        line-height: 1;
        }
}

.data-second__item {}



























//.icecream-card__btn {
    //border: none;
    //background-color: transparent;
    
//}

//.icecream__icon {
    //fill: black;
//}