.footer-button {
  display: flex;
  margin-bottom: 120px;
  gap: 16px;
  justify-content: center;
}

.before-footer {
  background-color: $primary-bg-color;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 12px;
}

.before-button {
  background-color: $primary-bg-color;
  margin-right: 16px;
    margin-left: 16px;
}

.contact-tel {
  display: flex;
}

.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
  margin-left: 16px;
}

.footer-tel {
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #fff;
}

.text-tel {
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #131313;
}

.homemades {
  display: flex;
  flex-direction: column;
}

.first-text {
  position: relative;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}

.first-text::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #fff;
  border-radius: 2px;
opacity: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.first-text:hover::after {
  color: #2196f3;
}

.second-text {
  margin-top: 14px;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 58px;
  line-height: 71px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fcfcfc;
}
.resum {
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #7a7a7a;
}
.resum::before {
  content: '';
  display: block;
 margin-bottom: 12px;
  width: 95%;
  height: 1px;
  background: #fff;
  border: 1px solid #E1E1E1;
  margin-left: auto;
  margin-right: auto;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.resum:hover::before {
  color: #2196f3;
}