.footer-button {
  display: flex;
  margin-bottom: 120px;
  gap: 16px;
  justify-content: center;
  transform: translate(0, -11px);
}

.before-footer {
  background-color: $primary-bg-color;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 12px;
}

.before-button {
  background-color: $primary-bg-color;
  margin-right: 16px;
    margin-left: 16px;
}
.komand-icon {
  display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    //color: #ffffff;
    border-radius: 50%;
    background-color: #F8D24E;
}
.komand-icon:hover {
background-color: $hover-color;
transition: background-color 250ms $timing-function;
}
.our-icon {
  display: flex;
  gap: 30px;
}
.contact-tel {
  display: flex;
}

.social-media {
      display: flex;
        justify-content: flex-end;
        margin-right: 16px;
      }

.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-tel {
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #fff;
}

.text-tel {
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #131313;
}

.homemades {
  display: flex;
  flex-direction: column;
}

.first-text {
  position: relative;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}

.first-text::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #fff;
  border-radius: 2px;
opacity: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.first-text:hover::after {
  color: #2196f3;
}

.second-text {
  margin-top: 14px;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 58px;
  line-height: 71px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fcfcfc;
}
.resum {
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #7a7a7a;
}
.resum::before {
  content: '';
  display: block;
 margin-bottom: 12px;
  width: 100%;
  background: #fff;
  border: 1px solid #E1E1E1;
  margin-left: auto;
  margin-right: auto;
}

